# .gitignore

# Arquivos de configuração do sistema operacional (locais)
__pycache__/
.mypy__cache/
*.py[cod]
*pyc
instance/
*.env
*.log
*.csv
*.dat
*.out
*.pid
*.gz

# Logs
*.log

# VSCode settings
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Diretórios de ambiente virtual

venv/
ENV/
.env/
env/

# Arquivos de PyCharm

.idea/

# Arquivos do banco de dados SQLite

*.SQLite3
*.db
